rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /knowledgeCategories/{docId} {
      allow read, write: if request.auth != null;
    }

    match /knowledgeNotes/{docId} {
      allow read, write: if request.auth != null;
    }

    match /units/{unitId}/files/{fileId} {
      allow read, write: if request.auth != null;
    }

    match /units/{unitId}/knowledge_base/{document=**} {
      allow read, write: if request.auth != null;
    }

    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
